@import '../theme';

.results-container {
  display: grid;
  position: relative;
  height: 0px;
  background: $mikesDarkGrey;
  border: 5px solid black; 
  padding: 30px;
  box-shadow: 3px 3px 10px black;
  border-radius: 10px;
  overflow: scroll;

  .notFound {
    font-size: 1.3rem;
  }

  .stateResult {
    background: $mikesLightGrey;
    margin: 15px 0;
  }

  .stateName {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 15px;
  }

  p {
    margin: 10px 0;
    text-align: center;
  }

  .backButton{
    position: absolute;
    left: 10px;
    text-decoration: none;

    .fa {
      color: black;
      font-size: 3rem;
    }
  }
}