//VARIABLES

$mikesLightGrey: #E2E3E5;
$mikesDarkGrey: #D6D7D9;
$mikesLightBlue: #3D669F;
$mikesDarkBlue: #1E3350;

//MIXINS

@mixin flash-blue {

  @keyframes pulsate {
      0% {box-shadow: 0 0 0 1rem rgba(205,5,5,.2),
          0 0 0 .1rem rgba(205,5,5,.15), 0 0 0 .15rem rgba(255,255,255,.2)}
      50% {box-shadow:  0 0 0 .2rem rgba(255,255,255,.1),
          0 0 0 .75rem rgba(255,255,255,.1), 0 0 0 1rem rgba(255,255,255,0)}
      75% {box-shadow: 0 0 0 .3rem rgba(255,255,255,.1), 
          0 0 0 .5rem rgba(255,255,255,0), 0 0 0 .65rem rgba(255,255,255,0)}
      100% {box-shadow: 0 0 0 1.75rem rgba(205,5,5,0), 
          0 0 0 .35rem rgba(205,5,5,0), 0 0 0 1rem rgba(205,5,5,0)}
  }

}