@import 'app/reset';
@import 'app/theme';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto",sans-serif;

    body {
        height: 100vh;
        display: grid;
        background: linear-gradient($mikesLightBlue,$mikesDarkBlue);
        grid-template-rows: 150px auto 50px;
        grid-template-areas: 
        "header"
        "main"
        "github";
    
        .mikes-logo {
            margin: 3%;
            grid-area: header;
            height: 100px;
            background-image: url(./app/images/mikes-logo.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        
        .main {
            margin: 5%;
            grid-area: main;
            justify-self: center;
            align-self: start;
            width: 50%;
        }

        .github-link {
            grid-area: github;
            justify-self: center;
            align-self: end;
            font-size: 2.5rem;
            color: black;
            margin-bottom: 5%;
        }
    }
}